@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
	color: #000;
}
html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	background: url(registrationbg.png) no-repeat fixed;
	background-size: cover; /* Make the background cover the entire page */
    background-position: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px; /* Set a specific width for the container */
    margin: auto;
}

.form-heading {
    width: 100%;
    text-align: center;
	font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
}


form {
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-bottom: 10px; /* Add space between each input field */
}

span {
	font-size: 0.9rem;
    margin-bottom: 5px;
    display: block; /* Display the label as a block to make it appear on top */
}

input {
	width: 100%;
    padding: 6px;

}

input[type="submit"] {
    background: #25a18e;
    color: #fff;
    cursor: pointer;
    border: none; /* Remove the border */
    padding: 10px; /* Adjust padding for better appearance */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}